h1 {
  color: darkblue;
}

h2{
  color: darkblue;
}

p{
  background-color: white;
  color: purple;
}

li{
  color: white;
}

ol{
  background-color: darkgrey;
}

body{
    background: linear-gradient(45deg,#FF0000,#FF7F00,#FFFF00,#00FF00,#0000FF,#4B0082,#8B00FF);
}