h1 {
  color: darkblue;
}

h2{
  color: darkblue;
}

p{
  background-color: white;
  color: purple;
}

li{
  color: white;
}

ol{
  background-color: darkgrey;
}

body{
  background-color: lightgrey;
}