h1 {
  color: white;
  font-family: "Papyrus";
  font-weight: bold;
  font-style: oblique;
}

h2{
  color: darkblue;
  font-family: "Papyrus";
  font-weight: bold;
}

p{
  background-color: white;
  color: purple;
  font-family: "Arial";
}

li{
  color: white;
  font-family: "Arial";
}

ol{
  background-color: darkgrey;
}

body{
    background: linear-gradient(45deg,#FF0000,#FF7F00,#FFFF00,#00FF00,#0000FF,#4B0082,#8B00FF);
}